
.bus:before {
    content: url(../images/bus.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

.bus:after {
    content: url(../images/bus.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

.train:before {
    content: url(../images/train.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

.train:after {
    content: url(../images/train.png);
    margin: 10px;
    position: relative;
    top: 8px;
}
