body {
  /* 画像ファイルの指定 */
  background-image: url(../images/top2.png);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: contain;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #FAFFC8;
}
@media only screen and (max-width: 767px) {
  .intro {
    background-image: url(../images/top.png);
  }
}

.beniya{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba( 255, 255, 255, 0.7 );
  border: dotted 2px black;

}
.menu{
  margin-top: 30px;
  background-color: rgba( 255, 255, 255, 0.7 );
  border: dotted 2px black;
}