body {
  /* 画像ファイルの指定 */
  background-image: url(../images/top2.png);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
   
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
   
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
   
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: contain;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #FAFFC8;
}
@media only screen and (max-width: 767px) {
  .intro {
    background-image: url(../images/top.png);
  }
}

.beniya{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba( 255, 255, 255, 0.7 );
  border: dotted 2px black;

}
.menu{
  margin-top: 30px;
  background-color: rgba( 255, 255, 255, 0.7 );
  border: dotted 2px black;
}
h3{
    position: relative;
    margin: 0 0 1.5em;
    padding: 0.8em;
    background: #B92A2C;
    color: #fff;
    font-size: 1.143em;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
 
h3:after{
    position: absolute;
    bottom: -15px;
    left: 10%;
    z-index: 90;
    margin-left: -15px;
    border-top: 15px solid #B92A2C;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0;
    content: "";
}

.bus:before {
    content: url(../images/bus.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

.bus:after {
    content: url(../images/bus.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

.train:before {
    content: url(../images/train.png);
    margin: 10px;
    position: relative;
    top: 8px;
}

.train:after {
    content: url(../images/train.png);
    margin: 10px;
    position: relative;
    top: 8px;
}